.red{
    color: red;
}

.bg-yellow{
    background-color: yellow;
}

.darkmagenta{
    color:darkmagenta
}

.bg-pink{
    background-color: pink;
}

#Firstdiv{
    background-color: black;
}

.green{
    background-color: green;
}